body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(150, 161, 173);
  }
  
  .container {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: rgb(9, 3, 54);
    font-size: 20px;
  }
  
  input[type="number"],
  input[type="text"] {
    padding: 12px;
    width: 200px;
    border-radius: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
  }
  
  button:hover {
    background-color: #075bb5;
  }
  